<div id="main">
  <div class="ym-wrapper">
    <section class="box info"><div class="ym-grid linearize-level-1"><%= image_tag "race-flags-small.png" %></div></section>
    <section class="ym-grid linearize-level-1">
    <article class="ym-g99 ym-gl content">
    <table width="98%"  border="0">
      <tr>
        <td><!-- InstanceBeginEditable name="text" -->
          <table width="700" border="0">
            <tr>
              <td><p><font size="4">Wir , das Racing-Center Leipzig , verstehen uns als eine Interessengemeinschaft des RC-Car Fahrens.</font></p>
                <p><font size="4">Eine Gemeinschaft , die Spass am Hobby hat und es gern auch weiter vermitteln w&uuml;rde.</font></p>
                <p><font size="4">Im Moment sind wir ein Team von 22 Mitgliedern.</font></p>
                <p><font size="4">Unsere Gemeinschaft ist auch Mitglied im DMC</font></p>
                <p><font size="4">Wir haben eine eigene Halle mit einer permanenten Rennstrecke f&uuml;r Elektro betriebene RC-Cars , ausserdem besteht die M&ouml;glichkeit des Mini-Z-Fahrens auf einer separaten Bahn und eine Carrera Rennbahn d&uuml;rfen wir auch noch unser eigen nennen.</font></p>
                <p><font size="4">Bei uns kann Samstags und Sonntags trainiert werden , es sei denn es steht eine Rennen bevor.Dann ist die Halle Sonntags f&uuml;r den Markenpokal reserviert. Unsere Rennen sind in der Regel einmal im Monat. Von GM , CS , Tamyia oder auch LRP wird bei uns alles ausgetragen. Wir haben auch ein eigenes Rennen ins Leben gerufen , die Sachsen GP . Es ist auch sehr gut bei allen Fahrern angekommen.</font></p>
                <p><font size="4">Wir haben viele Schrauberpl&auml;tze mit Stromanschlu&szlig; f&uuml;r unsere G&auml;ste zur Verf&uuml;gung.</font></p>
                <p class="Stil1">Ausschreibungen k&ouml;nnen eingesehen werden in unserer Rubrik &quot;Termine&quot;</p>
                <p class="Stil1">&nbsp;</p>
                <p class="Stil1">Wir freuen uns immer auf neue Mitglieder und Leute , die einfach nur Spass haben wollen.Erfahrene Mitglieder geben auch gerne Tipps an Einsteiger weiter , es ist fast wie in einer gro&szlig;en Familie . :-))</p>
                <p class="Stil1">F&uuml;r das leibliche Wohl wird immer gesorgt.   </p>
                <p><font size="4"> <br>
              </font>   </p></td>
            </tr>
          </table>
          <!-- InstanceEndEditable --></td>
      </tr>
    </table>
    <p>&nbsp;</p>
    </article>
    </section>
  </div>
</div>

