<section class="box info"><div class="ym-grid linearize-level-1"><%= image_tag "race-flags-small.png" %></div></section>
<section class="ym-grid linearize-level-1">
<article class="ym-g99 ym-gl content">
<table width="98%"  border="0">
  <tr>
    <td><!-- InstanceBeginEditable name="text" -->
      <table width="700" border="0">
        <tr>
          <td>
            <p><strong><font face="Arial, Helvetica, sans-serif" size="4">Anreise</font></strong></p>
            <table width="100%"  border="0">
              <tr>
                <td width="52%"><p><font size="4">von der A 9 kommend</font></p>
                  <p align="left"><font size="4">- Abfahrt Nr.:17 Leipzig West - Richtung Leipzig auf der B 181<br>
                    - dem Stra&szlig;enverlauf bis erste Ampelkreuzung<br>
                    - rechts
                    </font><font size="4">abbiegen auf B186 Richtung Markranst&auml;dt<br>
                    - an Kreuzung Altranst&auml;dt/ Gro&szlig;lehna links abbiegen, der Ausschilderung &quot;Racing Center&quot; folgen <br>
                    - ZIEL erreicht</font></p>
                </td>
                <td width="48%"><p><font size="4">von Leipzig kommend</font></p>                
                  <p><font size="4">- von Leipzig/ Gr&uuml;nau auf der B87 bis Markranst&auml;dt <br>
                    - am Kreisverkehr erste rechts abbiegen</font></p>
                  <p><font size="4">- am zweiten Kreisverkehr zweite ( links ) abbiegen <br>
                    - erste m&ouml;gliche Strasse (Nordstr.) rechts ab<br>
                    - 
                    der Ausschilderung &quot;Racing Center&quot; folgen <br>
                    - ZIEL erreicht<br>
                    <br>
                    <br>
                </font></p></td>
              </tr>
              <tr>
                <td><p>
                  <TABLE width=200 align="center" cellpadding=0 cellspacing=0 bgcolor="#FFFFFF" class=blockborder>
                    <FORM action="http://link2.map24.com" method=get target="_blank" NAME="link2map">
                      <input type=hidden name=lid value="6ac511d8">
                      <input type=hidden name=maptype   value="JAVA">
                      <input type=hidden name=width     value="1500">
                      <input type=hidden name=action    value="route">
                      <input type=hidden name=dstreet   value="Nordstraße 58">
                      <input type=hidden name=dzip    value="04420">
                      <input type=hidden name=dcity     value="Markranstädt">
                      <input type=hidden name=dcountry  value="de">

                      <input type=hidden name=rtype value="fast"><input type=hidden name=ddescription value="Hallen-Rennbahn">
                      <TR>
                        <TD width="184" height=51 background="http://img.map24.com/map24/link2map24/de/routeto_header.gif" class=map24_title>&nbsp;</TD>
                      </TR>
                      <TR>
                        <TD HEIGHT=18 class=map24_padding bgcolor=#EDEFF1><DIV class=map24_text><B>Start</B></DIV></TD>
                      </TR>
                      <TR>
                        <TD class=map24_cell><INPUT TYPE=TEXT name="sstreet" class=map24_input value="Straße" size=20 style="width: 179px;" onFocus="javascript:if (document.link2map.sstreet.value == 'Straße') document.link2map.sstreet.value = '';"><BR>
                          <INPUT TYPE=TEXT name="szip" class=map24_input value="PLZ"  size=5  style="width: 36px;"  onFocus="javascript:if (document.link2map.szip.value == 'PLZ') document.link2map.szip.value = '';">
                          <INPUT TYPE=TEXT name="scity" class=map24_input value="Ort"   size=20 style="width: 140px;"  onFocus="javascript:if (document.link2map.scity.value == 'Ort') document.link2map.scity.value = '';">
                          <BR> <input type=hidden name=scountry value=de>
                        </TD>
                      </TR> 
                      <TR>
                        <TD HEIGHT=18 class=map24_padding bgcolor=#EDEFF1><DIV class=map24_text><B>Ziel</B></DIV></TD>
                      </TR> 
                      <TR>
                        <TD class=map24_cell>
                          <DIV class=map24_text>

                            <B>Racing-Center<br>
                              Hallen-Rennbahn</B><BR>
                            Nordstrasse 58 <BR>
                            04420 Markranst&auml;dt (DE)</DIV>
                        </TD>
                      </TR>
                      <TR>
                        <TD class=map24_cell align=right>
                          <DIV class=map24_text>
                            <INPUT TYPE=IMAGE src="http://img.map24.com/map24/link2map24/de/button_go.gif">
                          </DIV>
                        </TD>
                      </TR>   
                    </FORM>
                </TABLE>        </td>
                <td><div align="center">
                    <p><strong>                        <a href="/assets/lageplan_01.jpg" target="_blank"><img src="/assets/lageplan_01_klein.jpg" border="0"></a><br>
                    </strong><span class="Stil1">(durch Anklicken vergr&ouml;ssern)</span></p>
                    <p><strong><br>
                      GPS</strong></p>
                    <p><strong>Nord 51&deg;18&acute;57&acute;&acute;</strong></p>
                    <p><strong>Ost 12&deg;13&acute;34&acute;&acute;<br>
                    </strong></p>
                </div></td>
              </tr>
            </table>            
          </td>
        </tr>
      </table>
      <!-- InstanceEndEditable --></td>
  </tr>
</table>
<p>&nbsp;</p>
</article>
</section>
