<section class="box info"><div class="ym-grid linearize-level-1"><%= image_tag "race-flags-small.png" %></div></section>
<section class="ym-grid linearize-level-1">
<article class="ym-g99 ym-gl content">
<table width="98%"  border="0">
  <tr>
    <td><!-- InstanceBeginEditable name="text" -->
      <table width="700" border="0">
        <tr>
          <td>
            <p><font size="4"><strong>Offizielle Rundenrekorde</strong></font></p>
            <p>&nbsp;</p>
            <table width="730" border="1">
              <tr>
                <th width="496" scope="row"><div align="left">
                    <p>Strecke 1 </p>
                    <table width="496" border="1">
                      <tr>
                        <th width="89" scope="row"><div align="left" class="Stil1">CS offen </div></th>
                        <td width="69"><div align="left" class="Stil1">12,907 s </div></td>
                        <td width="89"><div align="left" class="Stil1">27.01.2008</div></td>
                        <td width="188"><div align="left" class="Stil1">Fadtke D. </div></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left" class="Stil1">CS Sport </div></th>
                        <td><div align="left" class="Stil1">13,188 s </div></td>
                        <td><div align="left" class="Stil1">27.01.2008</div></td>
                        <td><div align="left" class="Stil1">Mirke T. </div></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left" class="Stil1">CS 1/12 </div></th>
                        <td><div align="left" class="Stil1">12,114 s </div></td>
                        <td><div align="left" class="Stil1">27.01.2008</div></td>
                        <td><div align="left" class="Stil1">Asmer J. </div></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left" class="Stil1">CS 1:18 </div></th>
                        <td><div align="left" class="Stil1">14,692 s </div></td>
                        <td><div align="left" class="Stil1">27.01.2008</div></td>
                        <td><div align="left" class="Stil1">Riemer S. </div></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">GTI/Classic</span></div></th>
                        <td><span class="Stil1">15,834s</span></td>
                        <td><span class="Stil1">20.01.2008</span></td>
                        <td><span class="Stil1">Fischer L.</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">HPI 17T </span></div></th>
                        <td><span class="Stil1">12,998s</span></td>
                        <td><span class="Stil1">20.01.2008</span></td>
                        <td><span class="Stil1">Stein S. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">HPI Stock </span></div></th>
                        <td><span class="Stil1">13,504s</span></td>
                        <td><span class="Stil1">20.01.2008</span></td>
                        <td><span class="Stil1">Becker R. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">Gentleman</span></div></th>
                        <td><span class="Stil1">15,340s</span></td>
                        <td><span class="Stil1">05.12.2010</span></td>
                        <td><span class="Stil1">Sascha Felsch </span></td>
                      </tr>
                    </table>
                    <p>&nbsp;</p>
                </div></th>
                <td width="218"><img src="/assets/IMG_2849.jpg" width="200" height="150"></td>
              </tr>
              <tr>
                <th scope="row"><div align="left">
                    <p>Strecke 2 </p>
                    <table width="459" border="1">
                      <tr class="Stil1">
                        <th width="115" scope="row"><div align="left" class="Stil1">Sachsen GP </div></th>
                        <td width="58"><div align="left" class="Stil1">13,828s</div></td>
                        <td width="76"><div align="left" class="Stil1">13.07.2008</div></td>
                        <td width="182"><div align="left" class="Stil1">Nitschke T. </div></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left" class="Stil1">CS offen </div></th>
                        <td><div align="left" class="Stil1">13,375s</div></td>
                        <td><div align="left" class="Stil1">24.08.2008</div></td>
                        <td><div align="left" class="Stil1">Fadtke D. </div></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left" class="Stil1">CS Sport </div></th>
                        <td><div align="left" class="Stil1">13,870s</div></td>
                        <td><div align="left" class="Stil1">24.08.2008</div></td>
                        <td><div align="left" class="Stil1">Nitschke T. </div></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left" class="Stil1">CS 1/12 </div></th>
                        <td><div align="left" class="Stil1">12,212s</div></td>
                        <td><div align="left" class="Stil1">24.08.2008</div></td>
                        <td><div align="left" class="Stil1">Asmer J. </div></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left" class="Stil1">CS 1/18 </div></th>
                        <td><div align="left" class="Stil1">14,420s</div></td>
                        <td><div align="left" class="Stil1">24.08.2008</div></td>
                        <td><div align="left" class="Stil1">Riemer S. </div></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left"><span class="Stil3">HPI Classic </span></div></th>
                        <td><span class="Stil3">15,322s</span></td>
                        <td><span class="Stil3">26.10.2008</span></td>
                        <td><span class="Stil3">Amft R. </span></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left"><span class="Stil3">HPI Stock </span></div></th>
                        <td><span class="Stil3">13,662s</span></td>
                        <td><span class="Stil3">26.10.2008</span></td>
                        <td><span class="Stil3">Nitschke T. </span></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left"><span class="Stil3">HPI Super Stock </span></div></th>
                        <td><span class="Stil3">13,133s</span></td>
                        <td><span class="Stil3">26.10.2008</span></td>
                        <td><span class="Stil3">Mirke T. </span></td>
                      </tr>
                    </table>
                    <p>&nbsp;</p>
                </div></th>
                <td><img src="/assets/DSC00356.jpg" width="200" height="150"></td>
              </tr>
              <tr>
                <th scope="row"><div align="left">
                    <p>Strecke 3 </p>
                    <table width="461" border="1">
                      <tr>
                        <th width="85" scope="row"><div align="left"><span class="Stil1">Tamiya GT </span></div></th>
                        <td width="75"><span class="Stil1">14,335s</span></td>
                        <td width="89"><span class="Stil1">13.04.2008</span></td>
                        <td width="184"><span class="Stil1">Pannwitz T. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">Euro Fighter </span></div></th>
                        <td><span class="Stil1">17,372s</span></td>
                        <td><span class="Stil1">13.04.2008</span></td>
                        <td><span class="Stil1">Schuster T. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">Gentlemen</span></div></th>
                        <td><span class="Stil1">15,856s</span></td>
                        <td><span class="Stil1">13.04.2008</span></td>
                        <td><span class="Stil1">Gehler T. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">M-Chassi</span></div></th>
                        <td><span class="Stil1">16,999s</span></td>
                        <td><span class="Stil1">13.04.2008</span></td>
                        <td><span class="Stil1">Fr&ouml;mel J. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">Top Stock </span></div></th>
                        <td><span class="Stil1">16,353s</span></td>
                        <td><span class="Stil1">13.04.2008</span></td>
                        <td><p class="Stil1">Kroh S. </p>                        </td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left"><span class="Stil1">CS-Offen</span></div></th>
                        <td><span class="Stil1">13,723s</span></td>
                        <td><span class="Stil1">18.05.2008</span></td>
                        <td><p class="Stil1">Fadtke D.</p>                        </td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left"><span class="Stil1">CS-19T</span></div></th>
                        <td><span class="Stil1">13,915s</span></td>
                        <td><span class="Stil1">18.05.2008</span></td>
                        <td><span class="Stil1">Nitschke T. </span></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left"><span class="Stil1">CS 1/12 </span></div></th>
                        <td><span class="Stil1">13,112s</span></td>
                        <td><span class="Stil1">18.05.2008</span></td>
                        <td><span class="Stil1">Hartinger K. </span></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left"><span class="Stil1">CS 1/18</span></div></th>
                        <td><span class="Stil1">15,298s</span></td>
                        <td><span class="Stil1">18.05.2008</span></td>
                        <td><span class="Stil1">Blagnies N. </span></td>
                      </tr>
                    </table>
                    <p>&nbsp;</p>
                </div></th>
                <td><img src="/assets/DSC00412.jpg" width="200" height="150"></td>
              </tr>
              <tr>
                <th scope="row"><div align="left">
                    <p>Strecke 4 </p>
                    <table width="461" border="1">
                      <tr>
                        <th width="86" scope="row"><div align="left"><span class="Stil1"> GTI / Classic </span></div></th>
                        <td width="76"><span class="Stil1">15,974s</span></td>
                        <td width="101"><span class="Stil1">17.02.2008</span></td>
                        <td width="170"><span class="Stil1">B&ouml;rger M. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">HPI Stock </span></div></th>
                        <td><span class="Stil1">13,864s</span></td>
                        <td><span class="Stil1">17.02.2008</span></td>
                        <td><span class="Stil1">Boesner J. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">HPI 17T </span></div></th>
                        <td><span class="Stil1">13,055s</span></td>
                        <td><span class="Stil1">17.02.2008</span></td>
                        <td><span class="Stil1">Stein P. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">Super Sport </span></div></th>
                        <td><span class="Stil1">15,041s</span></td>
                        <td><span class="Stil1">17.02.2008</span></td>
                        <td><span class="Stil1">Wehrmann C. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">1/12</span></div></th>
                        <td><span class="Stil1">12,844s</span></td>
                        <td><span class="Stil1">17.02.2008</span></td>
                        <td><span class="Stil1">Bertschinger N. </span></td>
                      </tr>
                    </table>
                    <p>&nbsp;</p>
                </div></th>
                <td><img src="/assets/DSC00396.jpg" width="200" height="150"></td>
              </tr>
              <tr>
                <th scope="row"><div align="left">
                    <p>Strecke 5 </p>
                    <table width="459" border="1">
                      <tr>
                        <th width="84" scope="row"><div align="left" class="Stil1">HPI 17,5T </div></th>
                        <td width="79"><span class="Stil1">14,299s</span></td>
                        <td width="100"><span class="Stil1">14.02.2010</span></td>
                        <td width="168"><span class="Stil1">Nitschke T. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left" class="Stil1">HPI Stock </div></th>
                        <td><span class="Stil1">13,950s</span></td>
                        <td><span class="Stil1">14.02.2010</span></td>
                        <td><span class="Stil1">Stein P. </span></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left" class="Stil1">Euro GT</div></th>
                        <td><div align="left" class="Stil1">14,689s</div></td>
                        <td><div align="left" class="Stil1">07.03.2010</div></td>
                        <td><div align="left" class="Stil1">Zierold M. </div></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left" class="Stil1">Euro Fighter</div></th>
                        <td><div align="left" class="Stil1">19,611s</div></td>
                        <td><div align="left" class="Stil1">07.03.2010</div></td>
                        <td><div align="left" class="Stil1">Schulte T. </div></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left" class="Stil1">F104</div></th>
                        <td><div align="left" class="Stil1">15,782s</div></td>
                        <td><div align="left" class="Stil1">07.03.2010</div></td>
                        <td><div align="left" class="Stil1">Gl&auml;ser</div></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left" class="Stil1">Gentlemen</div></th>
                        <td><div align="left" class="Stil1">16,376s</div></td>
                        <td><div align="left" class="Stil1">07.03.2010</div></td>
                        <td><div align="left" class="Stil1">Nitschke T. </div></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left" class="Stil1">M Chassi </div></th>
                        <td><div align="left" class="Stil1">17,635s</div></td>
                        <td><div align="left" class="Stil1">07.03.2010</div></td>
                        <td><div align="left" class="Stil1">Fr&ouml;mel J. </div></td>
                      </tr>
                      <tr class="Stil1">
                        <th scope="row"><div align="left" class="Stil1">Top Stock </div></th>
                        <td><div align="left" class="Stil1">16,134s</div></td>
                        <td><div align="left" class="Stil1">07.03.2010</div></td>
                        <td><div align="left" class="Stil1">Kroh S. </div></td>
                      </tr>
                    </table>
                    <p>&nbsp;</p>
                </div></th>
                <td><img src="/assets/Strecke%2050001.jpg" width="202" height="159"></td>
              </tr>
              <tr>
                <th height="218" scope="row"><div align="left">
                    <p>Strecke 6 </p>
                    <table width="468" border="1">
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">Classic</span></div></th>
                        <td><span class="Stil1">15,147s</span></td>
                        <td><span class="Stil1">23.11.08</span></td>
                        <td><span class="Stil1">Amft R. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">Stock</span></div></th>
                        <td><span class="Stil1">13,842s</span></td>
                        <td><span class="Stil1">23.11.08</span></td>
                        <td><span class="Stil1">Nitschke T. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">Super Stock </span></div></th>
                        <td><span class="Stil1">13,160s</span></td>
                        <td><span class="Stil1">23.11.08</span></td>
                        <td><span class="Stil1">Stein P. </span></td>
                      </tr>
                      <tr>
                        <th width="83" scope="row"><div align="left"><span class="Stil1">EuroFighter </span></div></th>
                        <td width="82"><span class="Stil1">15,686s</span></td>
                        <td width="98"><span class="Stil1">07.12.2008</span></td>
                        <td width="177"><span class="Stil1">Schulte T. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">Euro GT </span></div></th>
                        <td><span class="Stil1">14,454s</span></td>
                        <td><span class="Stil1">07.12.2008</span></td>
                        <td><span class="Stil1">Zierold M. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">Gentlemen</span></div></th>
                        <td><span class="Stil1">15,428s</span></td>
                        <td><span class="Stil1">07.12.2008</span></td>
                        <td><span class="Stil1">Fischer A. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">M-Chassi</span></div></th>
                        <td><span class="Stil1">17,509s</span></td>
                        <td><span class="Stil1">07.12.2008</span></td>
                        <td><span class="Stil1">Fr&ouml;mel J. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">Tam Tech </span></div></th>
                        <td><span class="Stil1">17,413s</span></td>
                        <td><span class="Stil1">07.12.2008</span></td>
                        <td><span class="Stil1">Bode M. </span></td>
                      </tr>
                      <tr>
                        <th scope="row"><div align="left"><span class="Stil1">Top Stock </span></div></th>
                        <td><span class="Stil1">15,426s</span></td>
                        <td><span class="Stil1">07.12.2008</span></td>
                        <td><span class="Stil1">Kroh S. </span></td>
                      </tr>
                    </table>
                </div>                </th>
                <td><p><img src="/assets/Strecke%206-0001.jpg" width="200" height="150"></p>
                  <p>&nbsp;</p></td>
              </tr>
              <tr>
                <th height="218" scope="row"><div align="left">
                    <p>Strecke 7 </p>
                    <table width="468" border="1">
                      <tr>
                        <th scope="row"><div   <td><img src="/assets/Strecke%2080001.jpg" width="200" height="150"></td>
                          </tr>
                        </table>            
                        <table width="527" border="1">
                          <tr>
                            <td width="161"><b><font size="3" color="#FF0000">Klasse</font></b></td>
                            <td width="95"><b><font size="3" color="#FF0000">Datum</font></b></td>
                            <td width="104"><b><font size="3" color="#FF0000">Rundenzeit</font></b></td>
                            <td width="139"><b><font size="3" color="#FF0000">Fahrer</font></b></td>
                          </tr>
                          <tr>
                            <td><strong>CS 27T </strong></td>
                            <td><strong>04.12.2005</strong></td>
                            <td><strong>13,65 s </strong></td>
                            <td><strong>R.Becker</strong></td>
                          </tr>
                          <tr>
                            <td><p><strong>GM 27T</strong></p></td>
                            <td><strong>10.09.2006</strong></td>
                            <td><strong>13,39 s </strong></td>
                            <td><strong>R.Becker</strong></td>
                          </tr>
                          <tr>
                            <td><strong>GM 17T</strong></td>
                            <td><strong>09.04.2006</strong></td>
                            <td><strong>13.99 s </strong></td>
                            <td><strong>K.Hartinger</strong></td>
                          </tr>
                          <tr>
                            <td><b><font size="3">Tamiya Formel </font></b></td>
                            <td><b><font size="3">20.06.2004 </font></b></td>
                            <td><b><font size="3">16,35 s </font></b></td>
                            <td><b><font size="3">M. Dietz</font></b></td>
                          </tr>
                          <tr>
                            <td><strong>HEGTWST (27T)</strong></td>
                            <td><strong>21.01.2007</strong></td>
                            <td><strong>13,40 s </strong></td>
                            <td><strong>R.Becker</strong></td>
                          </tr>
                        </table>
                        <p><font size="4"><br>
                      </font><b><font size="4"> </font> </b> </p></td>
                    </tr>
                  </table>
                  <!-- InstanceEndEditable --></td>
              </tr>
            </table>
            <p>&nbsp;</p>
            </article>
            </section>
