<div id="main">
  <div class="ym-wrapper">
    <h1>Termin bearbeiten</h1>

    <%= render 'form' %>

    <%= link_to 'Zeige Termin', @event, :class => "ym-button ym-play" %> |
    <%= link_to 'Zurück', events_path, :class => "ym-button" %>
  </div>
</div>

