<div id="main" class="ym-cbox">
  <article class="content">

  <h1><%= @event.title %></h1>
  <h2>In Nennliste eintragen</h2>

  <%= render 'form' %>

  <p><%= link_to 'Zurück', event_subscribers_path(@event, @subscriber), :class => "ym-button" %></p>

  </article>
</div>

