body > header { min-width: 760px; height: 100px; }
.ym-wrapper {
  max-width: 80em;
}
.ym-wbox { padding: 10px; }

/*
 * |-------------------------------------------------------|
 * | content                             | sidebar         |
 * | col 1 | flexible                    | col 3 | fixed   |
 * |                                     |                 |
 * |-------------------------------------------------------|
 */
.ym-column { 
  display: block;
  overflow: hidden;
  padding-right: 338px; /* column width */
  width: auto;
}
.ym-col1 {  /* content */
  position: relative;
  float: left;
  width: 100%;
}
.ym-col3 { /* sidebar */
  position: relative;
  float: left;
  width: 338px; /* column width */
  margin: 0 -338px 0 0;
}

body { background: #ddd; }

a  { color: #9C7A1A; }
a:hover  { background-color: #9C7A1A; }

header{ 
  background: transparent; 
  color: #333;
}

header h1 span {
  display: inline-block;
  overflow: hidden;
  height: 0;
  width: 365px;
  padding-top: 67px;
  margin-bottom: 0px;
  background: url(rcl-logo-neu.png) no-repeat top left;
}

#sitenavi { list-style: none; }
#sitenavi li { 
  background: url(menu_gray.png) 0 100% no-repeat;  
  padding-top: 0.3em; 
}
#sitenavi li.active {background: url(menu_yellow.png) 0 100% no-repeat;}
#sitenavi li div { 
  height: 40px; 
  width: 292px; 
  margin: 8px 0px;
  font-weight: bold;
  font-family: sans;
  font-size: 26px;
}
#sitenavi li div a { 
  display: inline-block;
  width: 100%;
  padding: 8px;
  color: #fff; 
}
#sitenavi a:hover { background: transparent; }
#sitenavi li div.nav_menu { 
}

/* Links zum Benutzerprofil und Login/ Logout
 * etwas zur Seite geschoben da sonnst immer durch das BETA Logo  verdeckt. */
#user_nav {
  margin-right: 2em;
}


#contentdiv { 
  padding-top: 35px;
  overflow: hidden; 
}
#contentdivwrapper { 
  background: #fff; 
  padding-bottom: 35px;
  padding-right: 200px;
  margin-right: -200px;
}

#beta-badge {
  position: fixed;
  z-index: 100;
  right: 0px;
  top: 0px;
  border: none;
}

table.bordertable tr:first-child { background: #aaa; }
table.bordertable tr:first-child a { color: #000; }


.event-index-info-small {
  background-color: #fff;
  position: relative; 
  padding: 0.5em;
  border: 1px solid #999;
  font-family: "Droid Sans Mono" "Monaco" "Verdana" sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #777;
}

#color-event-over { color: #888; }

.event-show {}
.event-show h2,
.event-index h2 { font-size: 2em; margin-top: 0; margin-bottom: 2em; }

