<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat versucht dein Password zur&uuml;ck zu setzen, du kannst dies nun tun indem du auf den Link unten klickst.</p>

<p><%= link_to 'Ändere Passwort', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Wenn du dein Passwort garnicht zur&uuml;cksetzen m&ouml;chstest, dann ignoriere bitte diese Email.</p>
<p>Dein Passwort wird nicht ver&auml;ndert, solange du nicht auf den Link klickst und ein neues Passwort vergibst.</p>
