<p>Hallo <%= @resource.email %>!</p>

<p>Dein Zugang wurde aus Sicherheitsgr&uuml;nden gesperrt da zu viele nicht erfolgreiche Login Versuche aufgezeichnet wurden.</p>

<p>Klicke bitte den Link unten um deinen Zugang wieder frei zu geben:</p>

<p><%= link_to 'Entsperre Zugang', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
